@using Blog.Biznis.DTO
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Naziv
        </th>
        <th></th>
    </tr>

@foreach (UlogaDto u in ViewBag.uloge) {
    <tr>
        <td>
            @u.naziv
        </td>
        <td>
            <a href="@Url.Action("Edit","Uloga", new { id=@u.id_uloga })">Edit</a>
            <a href="@Url.Action("Delete","Uloga", new { id=@u.id_uloga,naziv=@u.naziv })">Delete</a>

        </td>
    </tr>
}

</table>
