
@{
    ViewBag.Title = "AboutMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="content-text cnt-txt">
            <div class="title">
                <div class="some-title">
                    <h3>Nemanja Lukic 135/15</h3>
                </div>
                <div class="clearfix"> </div>
                <div class="tilte-grid">
                    <img src="/Content/images/about.jpg" alt=" " />
                    <p class="Sed">
                        <span>
                          Hello, my name is Nemanja Lukic. I was born on 27th july in 1996.I graduated on "Tehnicka Skola Obrenovac" high school.I am currently on Visoka ICT college in Belgrade and this website is a project for Web Programming course at ICT college.
                        </span>
                    </p>
                </div>
            </div>
    </div>
</div>



